<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gag me with a spoon</title>
</head>
<body>
    <p>where we're going, we don't need roads!</p>

    {% if error %}
<p><strong>Error:</strong> {{ error }}
    {% endif %}

    <form action="" method=post>
        <div>
            {{ my_form.title.label }} {{ my_form.title }}
        </div>

        <div>
            {{ my_form.body.label }} {{ my_form.body }}
        </div>

        <p><input type=submit></p>
    </form>
<table>
{% for post in posts %}
    <tr>
        <td>{{ post[0] }}</td>
        <td><a href="/edit/{{ post[2] }}">Edit</a></td>
        <td><a href="/delete/{{ post[2] }}">Delete</a></td>
    </tr>
{% endfor %}
</table>
</body>
</html>