<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit ID</title>
</head>
<body>

{% include 'nav.html' %}

<table style="width:100%">
    <tr>
        <th>title</th>
        <td>{{ post[0] }}</td>
    </tr>
    <tr>
        <th>published</th>
        <td>{{ post[2] }}</td>
    </tr>
    <tr>
        <th>author</th>
        <td>{{ post[3] }}</td>
    </tr>
    <tr>
        <th>text</th>
        <td>{{ post[4] }}</td>
    </tr>
</table>
<form method="post">
    <div>
        {{ my_form.title.label }} {{ my_form.title }}
    </div>

    <div>
        {{ my_form.body.label }} {{ my_form.body }}
    </div>

    <p><input type=submit></p>
</form>
</body>
</html>